
  <div class="footer-copyright red " style="height:50px">
    <div class="yellow-text left center-align " style="text-align: center; vertical-align: middle;line-height: 50px;   ">
      Ahmad Bilal Aslam © 2018
    </div>
        <div style=" font-family:Brush Script MT;" class="container yellow-text center-align flow-text ">
          FunKadaa
        </div>
    
    
      </div>